* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sitara', sans-serif;
}

#nav-bar {
    position: relative;
    top: 0;
    z-index: 10;
}

.navbar {

    padding: 0 !important;
}

.navbar-brand img {

    width: 350px;
    height: 70px;
    padding-left: 150px;
}

.navbar-nav li {
    padding: 0 60px 10px 50px;


}

.navbar-nav a {
    color: #4d4d4d !important;
    font-weight: 600;
    float: right;
    text-align: left;



}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

.navbar h3 {
    padding: 5px;
    margin-top: 15px;
    font-weight: 600;
}

#navbarNav {
    padding-right: 100px;
}

/*----------banner section-----------*/

#banner {
    /* background-image: linear-gradient(to right, #a517ba, #5f1782); */
    color: #fff;
    background-color:white;
    padding-top: 3%;
    padding-bottom: 3%;

}

.promo-title {
    font-size: 75px;
    font-weight: 600;
    margin-top: 100px;
    float: right;
    padding-right: 35px;
    color: #6b6b47;
}

.info {

    float: right;
    color: black;
    font-size: 25px;
    padding-right: 35px;

}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 20px;
    background-color: #ff8533;
    margin-right: 35px;
    margin-top: 50px;
    float: right;
    margin-left: 200px;
    margin-bottom: 20px;
    /* position:absolute ;
    right: 100px;
    top: 200px; */

}

/* .play-btn
{
    width: 45px;
    margin: 20px;

} */
#banner a {
    color: #fff;
    text-decoration: none;
}

.bottom-img {
    width: 100%;
    height: 200px;
}

.img-fluid {
    width: 600px;

}



/* meet us section */

#people{
    padding-top: 50px;
}

.column {
    float: center;
    width: 10px;
    padding: 10px 50px;
    text-align: center;
}

.row2 {
    padding:50px  250px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    align-self: center;
}




@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

.fblogo {
   
    
    height: 200px;
    width: 230px;
    border-radius: 100px;
  }

.fblogo1{
    height: 200px;
    width: 230px;
    border-radius: 100px;
    align-self: center;

}  
.meetushead{
    text-align: center;
    padding-bottom: 20px;
    font-weight: 400px;
    font-size: 64px;
}

.text-name{
    font-size: 20px;
    padding: 8px;
}
.text-job{
    font-size: 15px;
    padding: 8px;
}



/* curious page */

#curious{
    background-color: tomato;
    /* padding-right: 300px; */
}
.curious-title{
    padding-top: 80px;
    padding-right: 10% !important;
    padding-left: 10% !important;

}
.curious-title-head{
    font-family: Sitara;
    font-weight: 400px;
    font-size: 48px;
}

.curious-title-para{
    font-family: Sitara;
    font-weight: 400px;
    font-size: 25px;

}

/* hr{
    margin-bottom: 100px !important;
    margin-top: 150px !important;
    width: 80%;
    text-align: center !important;
    margin-left: 30%;
    margin-right: 30%;
    margin: 150px 30%;
    color: white;

} */
